[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.setuptools]
packages = ["unite_toolbox",]

[project]
name = "unite_toolbox"
version = "0.1.4"
dependencies = [
  "numpy >= 1.25.0",
  "scipy >= 1.12.0",
  "tqdm >= 4.66.2",
]
authors = [
  {name = "Manuel Álvarez Chaves", email = "manuel.alvarezchaves@simtech.uni-stuttgart.de"},
  {name = "Anneli Guthke", email = "anneli.guthke@simtech.uni-stuttgart.de"},
  {name = "Uwe Ehret", email = "uwe.ehret@kit.edu"},
  {name = "Hoshin Gupta", email = "hoshin@arizona.edu"},
]
maintainers = [
  {name = "Manuel Álvarez Chaves", email = "manuel.alvarezchaves@simtech.uni-stuttgart.de"}
]
description = "A toolbox for practical applications of information theory."
readme = "README.md"
license = {text = "MIT License"}

[project.optional-dependencies]
dev = [
    "jupyterlab >= 4.1.2",
	"matplotlib >= 3.8.3",
	"numpy >= 1.26.4",
	"pandas >= 2.2.1",
	"pyarrow >= 15.0.0",
	"scipy >= 1.12.0",
	"tqdm >= 4.66.2",
	"xarray >= 2024.2.0",
]

[project.urls]
Documentation = "https://unite-toolbox.readthedocs.io/"
Repository = "https://github.com/manuel-alvarez-chaves/unite_toolbox"
Team = "https://www.simtech.uni-stuttgart.de/exc/research/junior-research-groups/statistical-model-data-integration/"
